# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Ignore VS Code project directories and files
.project

# Ignore VS Code settings directories or files
.settings
.vscode

# Ignore .classpath
.classpath

# Ignore bin directory created by IDE
bin
